.glav {
    text-align: center;
    color: cadetblue;
}
.body {
    background-color: azure;
}
.text {
    text-align: center;
}
.pozdrav {
    background-color: lightsteelblue;
    margin-left: 325px;
    margin-right: 325px;
}